/** @format */
:root {
	--header-color: #252422;
	--th-bg: #403d39;
	--tr-even: #fffcf2;
	--tr-odd: #ccc5b9;
	--success: #1fca71;
	--danger: #eb5e28;
	--error: #dc4c4b;

	--border-radius: 10px;
	--gap-sm: 0.4rem;
	--gap-md: 1rem;
	--padding-md: 1rem;
	--margin-sm: 0.4rem;
	--margin-lg: 2.5rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Small reset */

h1,
h2,
p {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

/* General */

body {
	background-color: #d4d4d4;
}

h1 {
	color: var(--header-color);
	margin-bottom: var(--margin-sm);
}

.disable-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.loading {
	margin-top: 5rem;
}

.loader {
	width: 48px;
	height: 48px;
	border: 5px solid var(--header-color);
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Component Classes */

.container {
	display: flex;
	justify-content: center;
}

.row {
	display: flex;
}

.row.input-field {
	justify-content: space-between;
	gap: 20px;
	margin-bottom: 8px;
}

.col {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Navbar */

.Navbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: var(--padding-md);
	gap: var(--gap-md);
	margin-bottom: var(--margin-sm);
	border-bottom: 2px solid var(--header-color);
	box-shadow: 0px 7px 5px -6px var(--th-bg);
}

.Navbar__Link {
	display: flex;
	align-items: center;
	gap: var(--gap-sm);
	margin-right: var(--gap-md);

	font-size: 1.3rem;
	color: var(--header-color);
	text-decoration: none;
	cursor: pointer;

	border-bottom: 1px solid rgba(0, 0, 0, 0);
	transition: border-bottom 200ms ease, transform 100ms ease-in;
}

.Navbar__Link:hover {
	color: var(--th-bg);
	border-bottom: 1px solid var(--th-bg);
	transform: translateY(-2px);
}

/* Alert */

.Alert {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--gap-md);
	margin: var(--margin-lg);
	padding: var(--padding-md);
	padding-right: 10rem;

	border: 2px solid black;
	border-radius: var(--border-radius);
	background-color: var(--tr-even);
}

.Alert.success {
	color: var(--success);
	border-color: var(--success);
}

.Alert.danger {
	color: var(--danger);
	border-color: var(--danger);
}

.Alert.error {
	color: var(--error);
	border-color: var(--error);
}

.Alert__Header {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.Alert__Title {
	color: var(--header-color);
}

.Alert__Icon {
	width: 2rem;
	height: 2rem;

	margin-right: var(--margin-sm);
	display: flex;
	justify-content: center;
	align-items: center;
}

.Alert__Description {
	color: var(--th-bg);
	font-size: 1.1rem;
	word-wrap: break-word;
}

@keyframes inAnimation {
	0% {
		transform: scale(0.1);
		opacity: 0;
	}
	60% {
		transform: scale(1.2);
		opacity: 1;
	}
	100% {
		transform: scale(1);
	}
}

@keyframes outAnimation {
	20% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(0);
		opacity: 0;
	}
}

/* Books Section */

.Books__Table {
	border: 1px solid #222;
}

.Books__Table,
th,
td {
	border-bottom: 1px solid #222;
	border-collapse: collapse;
	color: var(--header-color);
}

th {
	padding: 7px 0;
	background-color: var(--th-bg);
	color: #fff;
}

td {
	padding: 10px 35px;
}

tr:nth-child(even) {
	background-color: var(--tr-even);
}

tr:nth-child(odd) {
	background-color: var(--tr-odd);
}

td:nth-child(1) {
	font-style: italic;
}

.Button__Delete {
	display: flex;
	justify-content: center;
	align-self: center;
	cursor: pointer;
	padding: 6px 6px;
	color: #fff;
	background-color: var(--error);
	border-radius: 5px;
	transition: background-color 150ms ease-in, color 150ms ease-in;
}

.Button__Delete:hover {
	background-color: #af3c3c;
	color: #eee;
}

/* Add book Section */
label,
input {
	font-size: 1.1rem;
}

input {
	border: none;
	outline: none;
	border: 2px solid transparent;
}

input[type="checkbox"] {
	-ms-transform: scale(1.4); /* IE */
	-moz-transform: scale(1.4); /* FF */
	-webkit-transform: scale(1.4); /* Safari and Chrome */
	-o-transform: scale(1.4); /* Opera */
	transform: scale(1.4);
}

input:required:invalid {
	border-color: #ffc8c8;
}

input:required:invalid:focus {
	border-color: #ff9090;
}

input:required {
	border-color: rgb(155, 255, 155);
}

#bookSubmit {
	font-size: 1.1rem;
	padding: 5px 20px;
}

@media screen and (max-width: 1200px) {
	td {
		padding: 10px 25px;
	}
}

@media screen and (max-width: 768px) {
	td {
		padding: 10px 15px;
	}
}

@media screen and (max-width: 576px) {
	td {
		padding: 10px 13px;
	}
}

@media screen and (max-width: 480px) {
	.Alert {
		margin-right: auto;
		margin-left: auto;
		padding-right: var(--padding-md);
	}
}

@media screen and (max-width: 350px) {
	td {
		padding: 10px 9px;
	}
}
